@tailwind base;
@tailwind components;
@tailwind utilities;

<<<<<<< HEAD
=======

>>>>>>> main
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    background-color: whitesmoke;
}

<<<<<<< HEAD
/* .App {
=======
.App {
>>>>>>> main
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  padding: 1rem 0.5rem;
<<<<<<< HEAD
} */

@keyframes pop {
    0% {
      transform: scale(0.5);
      opacity: 0;
    }
    50% {
      transform: scale(1.1);
      opacity: 1;
    }
    100% {
      transform: scale(1);
    }
  }

form {
    display: flex;
    flex-direction: column;
    width: 350px;
}

=======
}
/* 
section {
    width: 100%;
    max-width: 430px;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
} */

form {
    display: flex;
    flex-direction: column;
}


/* input[type="text"],
input[type="password"],
button,
textarea {
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;    
}

label,
button {
  margin-top: 1rem;
}

button {
  padding: 0.5rem;
} */

>>>>>>> main
.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.line {
    display: inline-block;
}
